<div class="container transporter-header">
    <div class="row">
        <div class="col-sm-8">
            <!--<h2>Artibak&trade;</h2>-->

        </div>
        <div class="col-sm-4">
            <p>{{date |date:'medium'}}</p>
        </div>
    </div>



    <!--<promotion-insert></promotion-insert>-->

    <div class="container">
        <div class="row">
            <h3> <a href="#/">Home</a> / {{customer.lastname}}, {{customer.firstname }}</h3>
        </div>
        <div class="row">
            <div class="col-md-10">

                <div class="panel panel-info">
                    <div class="panel-heading">Phone numbers
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>PhoneNumber</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in customer.phoneNumbers">
                            <td>{{ c.phoneNumber}}</td>
                            <td>{{ c.activated }}</td>
                            <td><a ng-click="activatePhoneNumber(c)" href="">Activate</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- Panel end -->
            </div> <!-- col-md-12 end -->

        </div>
    </div>
</div>


