<div class="container transporter-header">
    <div class="row">
        <div class="col-sm-8">
            <!--<h2>Artibak&trade;</h2>-->

        </div>
        <div class="col-sm-4">
            <p>{{date |date:'medium'}}</p>
        </div>
    </div>



    <!--<promotion-insert></promotion-insert>-->

    <div class="container">
        <div class="row">
           <phone-numbers-panel></phone-numbers-panel>
        </div>
    </div>
</div>


