<div class="container">
    <div class="row">
        <div class="col-md-10">

            <div class="panel panel-info">
                <div class="panel-heading">Phone numbers
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>PhoneNumber</th>
                        <th>Active</th>
                        <th>Customer Id</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in phoneNumbers">
                        <td>{{ c.phoneNumber}}</td>
                        <td>{{ c.activated }}</td>
                        <td><a href="#/customer/{{c.customerId}}">{{ c.customerId }} - View More</a></td>
                        <td><a ng-click="activatePhoneNumber(c)" href="">Activate</a></td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- Panel end -->
        </div> <!-- col-md-12 end -->

    </div>
</div>