html,body{
    position: relative;
    height: 100%;
}



#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
    background-color: #DDDDDD;
    border: #D1D1D1 1px solid;
	color: #414141;
}

.form-box button.login:active{

    background-color: #DA1D1B;
    border: #D1D1D1 1px solid;
}

.form-logo
{
	width:155px;
	margin: 0 auto;
	margin-bottom: 35px;
	margin-top: 5px;
}

.form-logo img
{
	width: 155px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/*************************Sidebar-Navbar*************************/
/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 60px;
    background-color: #EEEEEE;
}

@media(min-width:768px) {
    body {
        margin-top: 60px;
    }
}

#wrapper {
    /*padding-left: 0;*/
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #EEEEEE;
}

.huge {
    font-size: 50px;
    line-height: normal;
}


/* Top Navigation */


.navbar-header
{
	height: 60px;
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #555555;
    background-color: #E7E7E7;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


.nav-logo
{

}

.nav-logo img
{
	height: 50px;
	margin-left: 23px;
	margin-top: 4px;
}



/****************************************************************/

.table tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #eeeeea;

}

.col-sm-1, .numberCircle{
  padding: 0px;
  margin: 0px;
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 30px;
    height: 30px;
    padding-top: 7.5px;

    padding-bottom: 7.5px;
    margin: 2px;
    border: 0.5px solid #666;

    text-align: center;

    font: 10px  sans-serif;
}
.numberCircle.errors{ background: #f2dede;}
.numberCircle.info{background: #d8ecf0;}
.numberCircle.warnings{ background: #faebcc;}
.numberCircle.success{background: #dff0d8;}



.numberCircle.warnings{ background: #faebcc;}

.counts{
    border-radius: 50%;
    background: #dff0d8;
}


/* TABLE STYLES */
.fix-height {
	height: 600px;
	overflow: auto;
}



.heading{
  padding-bottom: 25px;
}


/* TABLE */
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


/*dashboard table*/
.fix-height-history-table {
    height: 600px;
    overflow: auto;
}


.padding{

    padding: 10px;
}

.undoButton{

    color: #ff9900;
    text-decoration-color: #ff9900;

}

.rejected{

  background-color: #F06F54;
}


.rejected tbody tr:hover td, .rejected tbody tr:hover th {
    background-color: #F06F54;
}



.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

/* square buttons end*/



body{
    font-size: 13px;
}



.nsoToggles > .btn{

    margin: 13px 12px 12px 10px;

}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    padding-top: 100px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 5px;
}


input.ng-dirty.ng-invalid { color: red }



/*flat button*/
/* Style buttons */
.flatbtn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.flatbtn:hover {
    background-color: RoyalBlue;
}



.trivial{
    background-color: #dff0d8;
}

.danger{
    background-color: #f2dede;;
}


.btn-primary{

    background-color: #ffa847;

}

.btn-primary:hover {
    background-color: #ffdb5b;
}

.card{
    background-color: white;
}

/* drop zone*/

.dropzone,
.dropzone * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropzone {
    position: relative;
    min-height: 260px;
    border: 2px dashed rgba(0,0,0,0.3);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0,0,0,0.03);
    padding: 23px;
}
.dropzone.drag-hover {
    border-color: rgba(0,0,0,0.15);
    background: rgba(0,0,0,0.04);
}
.dropzone.drag-hover .message {
    opacity: 0.15;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
    filter: alpha(opacity=15);
}
.dropzone.started .message {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
}
.dropzone .message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 0 -108px;
    position: absolute;
    width: 168px;
    height: 157px;
    margin-left: -84px;
    margin-top: -78.5px;
    top: 50%;
    left: 50%;
}
.dropzone .message span {
    display: none;
}
.dropzone.browser-not-supported {
    padding: 30px;
}
.dropzone.browser-not-supported .message {
    position: relative;
    background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 0 0;
    width: 204px;
    height: 108px;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
.dropzone .preview {
    width: 100px;
    height: 136px;
    display: inline-block;
    margin: 18px;
    position: relative;
}
.dropzone .preview .details {
    width: 100px;
    height: 100px;
    position: relative;
}
.dropzone .preview .details img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
.dropzone .preview .details .size {
    color: #666;
    font: 500 31px/31px "League Gothic", sans-serif;
    position: absolute;
    bottom: 2px;
    left: 17px;
    z-index: 100;
}
.dropzone .preview .details .content {
    font-size: 3px;
    white-space: pre;
    position: absolute;
    top: 5px;
    left: 12px;
    right: 19px;
    bottom: 5px;
    overflow: hidden;
    line-height: 100%;
    cursor: default;
    word-wrap: break-word;
}
.dropzone .preview.file-preview .details {
    background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 8px -265px;
}
.dropzone .preview.image-preview .details .size {
    display: none;
    color: #000;
}
.dropzone .preview.image-preview .details:hover .size {
    display: block;
}
.dropzone .preview.image-preview .details:hover img {
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}
.dropzone .preview.success .success-mark {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.dropzone .preview.success .progress .upload {
    background: #6fb61d;
}
.dropzone .preview.error .error-mark {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.dropzone .preview.error .progress .upload {
    background: #bc311f;
}
.dropzone .preview .error-mark,
.dropzone .preview .success-mark {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    width: 42px;
    height: 42px;
    top: -10px;
    left: -5px;
}
.dropzone .preview .error-mark span,
.dropzone .preview .success-mark span {
    display: none;
}
.dropzone .preview .error-mark {
    background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 0 -365px;
}
.dropzone .preview .success-mark {
    background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat -42px -365px;
}
.dropzone .preview .progress {
    position: relative;
    margin: 8px 0 4px 0;
    height: 10px;
    background: rgba(0,0,0,0.08);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.dropzone .preview .progress .upload {
    -webkit-animation: loading 0.4s linear infinite;
    -moz-animation: loading 0.4s linear infinite;
    -o-animation: loading 0.4s linear infinite;
    -ms-animation: loading 0.4s linear infinite;
    animation: loading 0.4s linear infinite;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") repeat-x 0px -407px;
}
.dropzone .preview .filename {
    font-size: 12px;
    height: 12px;
    position: relative;
}
.dropzone .preview .filename span {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.dropzone .preview .error-message {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: -5px;
    left: -20px;
    background: rgba(245,245,245,0.8);
    padding: 8px 10px;
    color: #800;
    min-width: 140px;
    max-width: 500px;
    z-index: 500;
}
.dropzone .preview:hover.error .error-message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
@-moz-keyframes loading {
    0% {
        background-position: 0 -407px;
    }

    100% {
        background-position: -14px -407px;
    }
}
@-webkit-keyframes loading {
    0% {
        background-position: 0 -407px;
    }

    100% {
        background-position: -14px -407px;
    }
}
@-o-keyframes loading {
    0% {
        background-position: 0 -407px;
    }

    100% {
        background-position: -14px -407px;
    }
}
@-ms-keyframes loading {
    0% {
        background-position: 0 -407px;
    }

    100% {
        background-position: -14px -407px;
    }
}
@keyframes loading {
    0% {
        background-position: 0 -407px;
    }

    100% {
        background-position: -14px -407px;
    }
}

/*DROP ZONE END*/